* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}


/* 页眉 */

.header {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
}


/*页眉设置结束*/


/* 设置导航栏 */

.nav {
    z-index: 4;
    position: fixed;
    width: 94.4%;
    text-align: center;
}

.navul {
    text-align: center;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topnav ul li {
    display: inline;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.topnav ul li a:not(.dd),
.dropbtn {
    display: inline-block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav ul li a:hover,
.dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.topnav ul li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.belownav {
    margin-bottom: 30%;
}

.indexbody {
    float: left;
    width: 100%;
    margin-top: 10px;
}


/*导航栏设置结束*/


/* 表格 */

.fund_table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.fund_table td,
.fund_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.fund_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.fund_table tr:hover {
    background-color: #ddd;
}

.fund_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
}

.fund_table th a {
    color: white;
    text-decoration: none;
}

.selected_fund {
    margin-top: 40px;
    margin-bottom: 40px;
}

tbody a {
    color: red;
    text-decoration: none;
}


/* 表格 */

.index_bt {
    padding: 10px 20px;
    text-align: center
}

.index_span {
    margin-top: ;
}


/* 主页大导航栏设置*/

.mulu1 button {
    display: inline-block;
    margin: 10px 30px;
    background-color: #A7A7A7;
    border: none;
    color: rgb(34, 34, 34);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 26px;
    border-radius: 20px;
}

.mulu2 button {
    display: inline-block;
    margin: 10px 20px;
    background-color: #A7A7A7;
    border: none;
    color: rgb(34, 34, 34);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    border-radius: 18px;
}

.mulu1 {
    text-align: center;
    height: 150px;
}

.mulu2 {
    margin-left: 50px;
}

.fmulu {
    margin-top: 50px;
}

.zhumulu {
    display: block;
}

.dbt {
    font-size: 30px;
    text-align: center;
}


/*文章主体设置*/

.tablebody {
    float: left;
    width: 75%;
    margin-top: 10px;
}

.mianarticle {
    float: left;
    width: 75%;
    margin-top: 10px;
}

.bt {
    text-align: center;
}

.zs {
    text-align: right;
}

article p {
    text-indent: 2em;
    margin: 10px;
}


/*首行缩进*/

.jj {
    text-decoration: none;
    display: block;
    color: #333;
}


/* 视频首页设置 */

.sysp img {
    width: 230px;
    height: 130px;
}

.sysp {
    margin: 20px 10px;
    display: inline-block;
}

.sysp span {
    display: block;
}

.sysp a {
    text-decoration: none;
    color: #333;
    text-align: center;
}


/*侧边栏*/

.aside {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    width: 23%;
    background-color: white;
    margin-top: 10px;
    right: 56px;
}

.ml {
    font-size: 30px;
}

.list {
    list-style-type: none;
    padding: 0;
    background-color: rgb(105, 105, 105);
    color: #f1f1f1;
}

.list li:not(.list1 li) {
    padding: 4px 10px;
}

.list1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.list a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.list a:hover {
    background-color: #555;
    color: white;
}

.qklj a {
    display: block;
    padding: 4px 10px;
    text-decoration: none;
    background-color: rgb(105, 105, 105);
    color: #f1f1f1;
}

.qklj a:hover {
    color: #dadada;
    background-color: black;
}


/* */


/* 文章卡片化*/

.card {
    background-color: white;
    padding: 30px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 60px;
}


/* 算法页面设置*/

.aside2 {
    float: left;
    width: 20%;
    background-color: #f1f1f1;
    margin-top: 10px;
}

.mianarticle2 {
    float: left;
    width: 80%;
    margin-top: 10px;
}

.list2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dadada;
}

.list2 li {
    border-bottom: 1px solid rgb(150, 150, 150);
}

.list2 li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.list2 li a:hover {
    background-color: #555;
    color: white;
}

.list3 {
    list-style-type: square;
}


/*表单*/

.writearticle .articlejj {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #F7f7f7;
    font-size: 18px;
    resize: none;
}

.scbutton {
    margin: 10px 30px;
    background-color: #A7A7A7;
    border: none;
    color: rgb(34, 34, 34);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    border-radius: 20px;
}

.writearticle .articletext {
    width: 100%;
    height: 500px;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #F7f7f7;
    font-size: 18px;
    resize: none;
}

.writearticle input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 20px;
    background-color: #F7f7f7;
}

.writearticle label {
    font-size: 30px;
}

.writearticle select {
    width: 30%;
    padding: 16px 20px;
    border: 2px solid #ccc;
    margin: 8px 0px;
    border-radius: 4px;
    background-color: #F7F7F7;
    font-size: 18px;
    cursor: pointer;
}

.writearticle input[type=submit] {
    background-color: #F7F7F7;
    border: 2px solid #ccc;
    color: #333;
    padding: 16px 20px;
    margin: 8px 0px;
    cursor: pointer;
}


/*  */


/*页脚*/

.foot {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.raw:after {
    content: "";
    display: table;
    clear: both;
}